set default=0
set timeout=5

menuentry "Automated Install" {
    linux /install.amd/vmlinuz auto=true priority=critical locale=de_AT.UTF-8 keymap=at --- quiet
    initrd /install.amd/initrd.gz
}

menuentry "Normal Install" {
    linux /install.amd/vmlinuz --- quiet
    initrd /install.amd/initrd.gz
}
