# Sprache & Tastatur
d-i debian-installer/locale string de_AT.UTF-8
d-i keyboard-configuration/xkb-keymap select de
d-i keyboard-configuration/xkb-variant select nodeadkeys

# Netzwerk
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian-server
d-i netcfg/get_domain string local

# Spiegel
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Zeitzone
d-i time/zone string Europe/Vienna

# Partitionierung (gesamte Disk, kein LVM)
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman/confirm_write_new_label boolean true
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Kein root-Login, sudo-User
d-i passwd/root-login boolean false
d-i passwd/username string richard
d-i passwd/user-fullname string Richard
d-i passwd/user-password-crypted password $6$mc61/05fcqSK/GXT$9yCuRjJign0JgSWS3bxGPy1RgpMu6OSkshS15cZ6hKZlHmPVuLI/X1/p8c05rrzVfleT0ZieTteNz4.imOJi0.

# SSH-Server installieren + SSH-Key eintragen
d-i pkgsel/include string openssh-server sudo
d-i preseed/late_command string \
  mkdir -p /target/home/richard/.ssh && \
  echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILOm7/QdnQLkbCOcsSI5PrxlYCMw7FXSPTYPfeeBXRI/ Macbook" \
    > /target/home/richard/.ssh/authorized_keys && \
  chown -R 1000:1000 /target/home/richard/.ssh && \
  chmod 700 /target/home/richard/.ssh && \
  chmod 600 /target/home/richard/.ssh/authorized_keys

# Bootloader
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

# Kein Medien-Scan
d-i apt-setup/cdrom/set-first boolean false
